/**
 * SkyscannerApiClient
 * Java api client for skyscanner API
 *
 * OpenAPI spec version: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package com.mallorcasoftware.skyscannerapiclient.api;

import com.mallorcasoftware.skyscannerapiclient.ApiCallback;
import com.mallorcasoftware.skyscannerapiclient.ApiClient;
import com.mallorcasoftware.skyscannerapiclient.ApiException;
import com.mallorcasoftware.skyscannerapiclient.ApiResponse;
import com.mallorcasoftware.skyscannerapiclient.Configuration;
import com.mallorcasoftware.skyscannerapiclient.Pair;
import com.mallorcasoftware.skyscannerapiclient.ProgressRequestBody;
import com.mallorcasoftware.skyscannerapiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import com.mallorcasoftware.skyscannerapiclient.model.AutosuggestResponseDto;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PlacesApi {
    private ApiClient apiClient;

    public PlacesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PlacesApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for autosuggest */
    private com.squareup.okhttp.Call autosuggestCall(String country, String currency, String locale, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'country' is set
        if (country == null) {
            throw new ApiException("Missing the required parameter 'country' when calling autosuggest(Async)");
        }
        
        // verify the required parameter 'currency' is set
        if (currency == null) {
            throw new ApiException("Missing the required parameter 'currency' when calling autosuggest(Async)");
        }
        
        // verify the required parameter 'locale' is set
        if (locale == null) {
            throw new ApiException("Missing the required parameter 'locale' when calling autosuggest(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/autosuggest/v1.0/{country}/{currency}/{locale}".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "country" + "\\}", apiClient.escapeString(country.toString()))
        .replaceAll("\\{" + "currency" + "\\}", apiClient.escapeString(currency.toString()))
        .replaceAll("\\{" + "locale" + "\\}", apiClient.escapeString(locale.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "UserSecurity" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * 
     * Get a list of places that match a query string. 
     * @param country The market country your user is in (required)
     * @param currency The currency you want the prices in (required)
     * @param locale The locale you want the results in (ISO locale) (required)
     * @return AutosuggestResponseDto
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AutosuggestResponseDto autosuggest(String country, String currency, String locale) throws ApiException {
        ApiResponse<AutosuggestResponseDto> resp = autosuggestWithHttpInfo(country, currency, locale);
        return resp.getData();
    }

    /**
     * 
     * Get a list of places that match a query string. 
     * @param country The market country your user is in (required)
     * @param currency The currency you want the prices in (required)
     * @param locale The locale you want the results in (ISO locale) (required)
     * @return ApiResponse&lt;AutosuggestResponseDto&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AutosuggestResponseDto> autosuggestWithHttpInfo(String country, String currency, String locale) throws ApiException {
        com.squareup.okhttp.Call call = autosuggestCall(country, currency, locale, null, null);
        Type localVarReturnType = new TypeToken<AutosuggestResponseDto>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get a list of places that match a query string. 
     * @param country The market country your user is in (required)
     * @param currency The currency you want the prices in (required)
     * @param locale The locale you want the results in (ISO locale) (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call autosuggestAsync(String country, String currency, String locale, final ApiCallback<AutosuggestResponseDto> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = autosuggestCall(country, currency, locale, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AutosuggestResponseDto>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
